[build]
  command = "npm run build"
  publish = ".next/static"

[build.environment]
  NODE_VERSION = "20"

# Netlify Next.js Runtime settings
[[plugins]]
package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
  query = {path = "*"}